
<div class="card">
	<div>

		<h3>Destino: {{postInd.destino}}</h3>
		<h3>Vagas disponíveis: {{postInd.vagas}}</h3>
		<h3>Horário da saída: {{postInd.horario}}</h3>
		<h3>Veículo: {{postInd.veiculo}}</h3>
		<h3>Localizado no estacionamento {{postInd.estacionamento}}</h3>
		<hr>
		<small>Data de publicação: {{postInd.createdAt}}</small><br>
		<hr>
	
	</div>

<a href="/aceitar/{{postInd.id}}"><button class= "btn btn-success">Quero esssa carona!</button></a>